body {
    background-color: #1f1f1d;
}
*{
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
}
/*////////////////
/// INDEX.HTML ///
////////////////*/
.navbar {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    background-color: #262624;
}
.navbar button{
    margin-left: 10px;
    padding: 10px;

    font-size: 16px;

    width: max-content;
    height: 40px;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(96, 96, 96);

    background-color: #262624;
}
.navbar input{
    text-align: center;
    margin: 0 auto;

    width: 400px;
    height: 35px;
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 173, 10);
    border-radius: 5px;

    background-color: #30302e;
}
#filtro {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
}
#filtro button{
    font-size: 16px;
    padding: 10px;
    padding: 10px;
    width: max-content;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(52, 132, 132);
    background-color: rgb(26, 64, 64);
}
#lista-livros {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(96, 96, 96);
    border-radius: 10px;
    width: 300px;
    height: 380px;

    background-color: #30302e;
}
.card p, h3, h4{
    margin: 11px;
}
.genero-lista{
    margin-left: 11px;
    padding: 3px;
    background-color: rgb(255, 173, 10);

    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 192, 103);

    border-radius: 10px;
    color: #30302e;
}
.ano{
    padding: 3px;
    background-color: #262624;
    border-style: solid;
    border-width: 2px;
    border-color: #666666;
    border-radius: 10px;
}
.status{
    padding: 3px;
    background-color: rgb(26, 64, 64);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 132, 132);
    border-radius: 10px;
}
    

.card-imagem{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFy5pH8mMYfEfCW-Vu7MP8SpqR1UpK7vU2TA&s);
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    background-color: #262624;
}
/*//////////////////////////
/// CADASTRAR_LIVRO.HTML ///
//////////////////////////*/
.box{
    display: flex;
    justify-content: center;
}
.formulario{
    background-color: #262624;
    width: 500px;
    height: 500px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.formulario input{
    text-align: center;
    width: 400px;
    height: 35px;
    color: #262624;
    background-color: #30302e;
    border-color: rgb(255, 173, 10);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.formulario label{
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
}
.formulario button{
    margin-top: 40px;
    width: 100px;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 173, 10);
}

#lista-livros-recomendados {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}