<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registrar_leitura" method="post">

        <label>livro_id</label><br>
        <input type="text" name="livro_id"><br>

        <label>nota</label><br>
        <input type="number" name="nota"><br>

        <label>comentario</label><br>
        <input type="text" name="comentario"><br>

        <label>data conclusao</label><br>
        <input type="date" name="data_conclusao"><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>