<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div  class="navbar">
            <h1>Clube do Livro</h1>
            <input type="text" name="buscar" id="input_buscar">
            <button type="submit" id="buscar">buscar</button>
            
            <button><a href="cadastrar_livro">cadastrar livro</a></button>
            <button><a href="registrar_leitura">registrar leitura</a></button>
        </div>
    </nav>
    <div id="filtro">
        <p>filtrar:</p>
        <button id="todos">todos</button>
        <button id="lidos">lidos</button>
        <button id="nao-lidos">nao lidos</button>
    </div>
    <div id="lista-livros"></div>
    <script>
        function listarlivros(livros) {
            const div = document.getElementById("lista-livros")
            html = ""
            for (const livro of livros){
                html += `
                    <div class="card">
                        <p>${livro.titulo}</p>
                        <p>${livro.autor}</p>
                        <p>${livro.genero}</p>
                    </div>`
            }
            div.innerHTML = html
        }

        ///////////////////////////////////////////
        /// MOSTRAR A LISTA DE TODOS POR PADRAO ///
        ///////////////////////////////////////////

        fetch("/lista")
            .then(resultado => resultado.json())
            .then(livros => {
                listarlivros(livros)
            })

        ///////////////////
        /// BOTAO TODOS ///
        ///////////////////

        document.getElementById("todos").onclick = function(){
            fetch("/lista")
            .then(resultado => resultado.json())
            .then(livros => {
                listarlivros(livros)
            })
        }
        
        ///////////////////
        /// BOTAO LIDOS ///
        ///////////////////

        document.getElementById("lidos").onclick = function(){
            fetch("/lidos")
            .then(resultado => resultado.json())
            .then(livros => {
                listarlivros(livros)
            })
        }

        ///////////////////////
        /// BOTAO NAO LIDOS ///
        ///////////////////////

        document.getElementById("nao-lidos").onclick = function(){
            fetch("/nao_lidos")
            .then(resultado => resultado.json())
            .then(livros => {
                listarlivros(livros)
            })
        }
        
        /////////////////////////////////
        /// BUSCAR O LIVRO PELO AUTOR ///
        /////////////////////////////////

        document.getElementById("buscar").onclick = function(event){
            event.preventDefault()
            const valor = document.getElementById("input_buscar").value
            fetch(`/filtrar_autor?buscar=${valor}`)
            .then(resultado => resultado.json())
            .then(livros => {
                listarlivros(livros)
            })
        }

        //////////////////////////////////
        /// BUSCAR O LIVRO PELO GENERO ///
        //////////////////////////////////

        document.getElementById("buscar").onclick = function(event){
            event.preventDefault()
            const valor = document.getElementById("input_buscar").value
            fetch(`/filtrar_genero?buscar=${valor}`)
            .then(resultado => resultado.json())
            .then(livros => {
                listarlivros(livros)
            })
        }
    </script>
</body>
</html>