<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
<body>
    <nav>
        <div  class="navbar">
            <h1>Clube do Livro</h1>
            <form action="/filtrar_autor">
                <input type="text" name="buscar" id="input_buscar">
                <button type="submit" id="buscar">buscar</button>
            </form>
            
            <button><a href="cadastrar_livro">+cadastrar livro</a></button>
        </div>
    </nav>
    <div class="formulario">
        <form action="/registrar_leitura" method="post">
            <h1>Registrar leituras</h1>

            <label>livro_id</label><br>
            <input type="text" name="livro_id"><br>

            <label>nota</label><br>
            <input type="number" name="nota"><br>

            <label>comentario</label><br>
            <input type="text" name="comentario"><br>

            <label>data conclusao</label><br>
            <input type="date" name="data_conclusao"><br><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
    
</body>
</html>