<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <div  class="navbar">
                <img src="https://images.freeimages.com/image/previews/4be/orange-book-icon-png-5694165.png?w=500" height="40px"><h1>Clube do Livro</h1>
                <input type="text" placeholder="buscar por autor ou genero" name="buscar" id="input_buscar">
                <button type="submit" id="buscar">Buscar</button>

                <button><a href="cadastrar_livro">Cadastrar livro</a></button>
                <button><a href="registrar_leitura">Registrar Leitura</a></button>
            </div>
        </nav>
        <div id="filtro">
            <h3>Filtrar :</h3>
            <button id="todos">todos</button>
            <button id="lidos">lidos</button>
            <button id="nao-lidos">nao lidos</button>
        </div>
        <h2>Livros</h2>
        <div id="lista-livros"></div>
        <h2>Recomendações</h2>
        <div id="lista-livros-recomendados"></div>
        <script src="/static/script.js"></script>
    </body>
</html>
