<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <div  class="navbar">
                <img src="https://images.freeimages.com/image/previews/4be/orange-book-icon-png-5694165.png?w=500" height="40px"><h1>Clube do Livro</h1>
                <input type="text" placeholder="buscar por autor ou genero" name="buscar" id="input_buscar">
                <button type="submit" id="buscar">Buscar</button>

                <button><a href="cadastrar_livro">Cadastrar livro</a></button>
                <button><a href="registrar_leitura">Registrar Leitura</a></button>
            </div>
        </nav>
        <div id="filtro">
            <h3>Filtrar :</h3>
            <button id="todos">todos</button>
            <button id="lidos">lidos</button>
            <button id="nao-lidos">nao lidos</button>
        </div>
        <h2>Livros</h2>
        <div id="lista-livros"></div>
        <h2>Recomendações</h2>
        <div id="lista-livros-recomendados"></div>
        <script>
            function listarlivros(livros) {
                const div = document.getElementById("lista-livros")
                html = ""
                for (const livro of livros){
                    html += `
                        <div class="card">
                            <div class="card-imagem">
                            
                            </div>
                            <p>${livro.id}</p>
                            <h3>${livro.titulo}</h3>
                            <h4>${livro.autor}</h4>
                            <span class="genero-lista">${livro.genero}</span>
                            <span class="ano">${livro.ano_publicacao}</span>
                            <span class="status">${livro.status}</span>
                        </div>`
                }
                div.innerHTML = html
            }

            ///////////////////////////////////////////
            /// MOSTRAR A LISTA DE TODOS POR PADRAO ///
            ///////////////////////////////////////////

            fetch("/lista")
                .then(resultado => resultado.json())
                .then(livros => {
                    listarlivros(livros)
                })

            ///////////////////
            /// BOTAO TODOS ///
            ///////////////////

            document.getElementById("todos").onclick = function(){
                fetch("/lista")
                .then(resultado => resultado.json())
                .then(livros => {
                    listarlivros(livros)
                })
            }
            
            ///////////////////
            /// BOTAO LIDOS ///
            ///////////////////

            document.getElementById("lidos").onclick = function(){
                fetch("/lidos")
                .then(resultado => resultado.json())
                .then(livros => {
                    listarlivros(livros)
                })
            }

            ///////////////////////
            /// BOTAO NAO LIDOS ///
            ///////////////////////

            document.getElementById("nao-lidos").onclick = function(){
                fetch("/nao_lidos")
                .then(resultado => resultado.json())
                .then(livros => {
                    listarlivros(livros)
                })
            }
            
            //////////////////////////////////////////
            /// BUSCAR O LIVRO PELO AUTOR E GENERO ///
            //////////////////////////////////////////

            document.getElementById("buscar").onclick = function(event){
                event.preventDefault()
                const valor = document.getElementById("input_buscar").value
                fetch(`/buscar?buscar=${valor}`)
                .then(resultado => resultado.json())
                .then(livros => {
                    listarlivros(livros)
                })
            }
        </script>


    <!--/////////////////////
        /// RECOMEDACOES ///
        ////////////////////-->


        <script>
            function listarlivrosrecomendados(recomendacoes) {
                const div = document.getElementById("lista-livros-recomendados")
                html = ""
                for (const livro of recomendacoes){
                    html += `
                        <div class="card">
                            <div class="card-imagem">
                            
                            </div>
                            <p>${livro.id}</p>
                            <h3>${livro.titulo}</h3>
                            <h4>${livro.autor}</h4>
                            <span class="genero-lista">${livro.genero}</span>
                            <span class="ano">${livro.ano_publicacao}</span>
                            <span class="status">${livro.status}</span>
                        </div>`
                }
                div.innerHTML = html
            }

            ////////////////////////////////////////////////
            /// MOSTRAR A LISTA DE TODAS AS RECOMEDACOES ///
            ////////////////////////////////////////////////

            fetch("/recomendacoes")
                .then(resultado => resultado.json())
                .then(recomendacoes => {
                    listarlivrosrecomendados(recomendacoes)
                })

        </script>
    </body>
</html>